#authentication-title {
  text-align: center;
  color: #0a2947;
  font-family: sans-serif;
  padding: 0px 0px 20px 0px;
}

#authentication-form {
  background-color: #ceddf3;
  padding: 150px;
}

.authentication-field {
  width: 50%;
  display:inline-block;
  margin-left: 25%;
  margin-right: 25%;
}

.authentication-actions {
  margin-left: 25%;
  margin-right: 25%;
}

#shared-links {
  padding: 50px 0px;
  margin-left: 25%;
  margin-right: 25%;
  color: #3a93c9;
}
