.form-buttons {
  border-radius: 3px;
  background-color: #527d3d;
  margin-right: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-color: none;
}

.form-buttons:focus {
  color: white;
  background-color: #0a2947;
  outline: none;
}

.emp-show-tile {
  background-color: #ceddf3;
  padding: 10px;
}

.emp-show-tile h3 {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

table {
  width: 100%;
}
