.index {
  background-color: #ceddf3;
  padding: 10px;
}

#company-user-title {
  padding: 0px 0px 100px 0px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.button-holder {
  text-align: center;
}

.index button {
  border-radius: 3px;
}

.index button:hover {
  color: white;
  background-color: #0a2947;
}

.employee-list {
  text-align: center;
}

#list li {
  list-style-type: none;
}
