body {
  background-color: #ceddf3;
  font-family:sans-serif;
  margin: auto;
  width: 80%;
}

.flash {
  background-color: #ceddf3;
  color: #0a2947;
  text-align: center;
}

.top-bar {
  background-color: #0a2947;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #0a2947;
}

button {
  border-radius: 3px;
}

button:hover {
  color: white;
  background-color: #0a2947;
}

footer {
  text-align: center;
  padding: 50px 0px;
}
